/**
 * @name Rimuru Theme
 * @author F0reverRy4n
 * @version 1.0.0
 * @description A Rimuru Theme for vencord, based on That Time I Got Reincarated as a Slime
 */

@import url("./animations.css");
@import url("./colors.css");
@import url("./extras.css");
@import url("./glass.css");
@import url("./layout.css");
:root {
  --rimuru-background: url("./assets/background.jpg");
  --rimuru-banner: url("./assets/banner.jpg");
  --rimuru-chat: url("./assets/chat.png");
  --rimuru-logo: url("./assets/logo.png");
  --rimuru-profile: url("./assets/profile.png");
}